@font-face {
    font-family: "opificio_light_rounded";
    src:  url("./fonts/opificio_light_rounded.ttf") format("truetype");
  }

body {
    height: 100%;
    margin: 0;
    width: 100%;
}
.header {
    display: flex;
    background-color: #6032a8;
    align-items: center;
    gap: 20px;
}

.logo {
    font-family: 'opificio_light_rounded';
    color: #ffff;
    margin-left: 20px;
}

.search {
    margin-top: 5px;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    color: #ffff;
    background-color: #5032a8;
}

.sidebar {
    padding-top: 30px;
    padding-right: 40px;
    background-color: #ededed;
    width: 250px;
    max-width: 300px;
    height: 86vh;
    float: left;
}
ul {
    list-style-type: none;
}
.list {
    cursor: pointer;
    background-color: #ededed;
    transition: 0.5s;
    font-size: 20px;
    padding: 20px;
}

.list:hover{
    opacity: 1;
    background-color: #d4d4d4;
}

.today {
    font-weight: normal;
    font-size: 15px;
    font-style: oblique;   
    color: #808080; 
}

.things {
    display: flex;
    flex-direction: column;
    align-items: center;
}